body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#panel {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
}
